.nav {
    background-color: #222;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-content: center;
}

.img{
    display: block;
	float: left;
    max-width: 200px;
    padding: 10px;
}

.img2{
    display: none;
}
.menu a:link{
    text-decoration: none;
    color: #fff;
}
.menu a:visited{
    text-decoration: none;
    color: #fff;
}